h1, h2
{
    text-align:center;
}

mark
{
	background-color:#FAF67A; 
}

h1 + p
{
	text-align:center;
}

.chapter
{
	line-height: 16px;
	height: 96px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.connection
{
	    text-align:center;
}

.comments
{
	    text-align:center;
}

.title
{
	    text-align:center;
}

.tagline
{
	color: #000000;
}